# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
**/bin/*
*.exe
*.out
*.app

# lib
include/eigen-3.4.0
include/oneapi-tbb-2021.8.0
include/NumCpp-Version_*
include/opencv_contrib*
include/opencv-*
include/opencv.zip
include/opencv_contrib.zip

# examlple
examples/
